<div *ngIf="name">
<div class="global-background-bar-outer global-background-light-grey" >
    <div class="global-background-bar-inner">
        <div class="row">
            
                <h3 class="global-subheading-2 global-font global-color-light-black text-center">Trending graph of {{name}} and tags</h3>
            </div>
            <div class="chart" id="chart">
            <iframe id="trends-widget-1" [src]="trendURL()" width="100%" frameborder="0" scrolling="0" style="border-radius: 2px; box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 2px 0px, rgba(0, 0, 0, 0.24) 0px 2px 2px 0px; height: 100%;"></iframe>
			</div>
            
        </div>

    
</div>
</div>


