<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.3/Chart.bundle.min.js"></script>

<div *ngIf="name">
<div class="global-background-bar-outer global-background-light-grey" >
    <div class="global-background-bar-inner">
        <div class="row">
            
                <h3 class="global-subheading-2 global-font global-color-light-black text-center">Search volume over time</h3>
            </div>
            <br>
            <div>
    			<canvas baseChart width="100" height="50"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
    </div>
            
        </div>

    
</div>
</div>