<div *ngIf="theme">
    <div class="well">
        <div class="row">
            <div class="col-xs-10 text-center">
                <h3>{{theme.name}}</h3>
                <p>Created on: {{creationDate.toDateString()}}, by {{theme.creator?.name}}</p>
            </div>

            <div class="col-xs-2 text-right">
                <button class="btn btn-success">Confirm</button>
                <p>Theme confirmed by 1000 users</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <label>Theme description</label>
                <p>{{theme.description}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <label>Tags</label>
                <p>{{theme.tags}}</p>
            </div>
        </div>
    </div>

</div>

