<div class="row" *ngIf="reportsSortedByRelevancy.length > 0 || reportsSortedByDate.length > 0 ">
    <h3 class="global-subheading-2 global-font global-color-light-black text-center">Reports</h3>
</div>

<ul class="nav nav-pills" *ngIf="reportsSortedByRelevancy.length > 0 || reportsSortedByDate.length > 0 ">
    <li role="presentation" *ngIf="reportsSortedByDate.length > 0"><button class="btn" [class.btn-primary]="displayMostRecent" (click)="toggleDisplayTab()">Newest first</button></li>
    <li role="presentation" *ngIf="reportsSortedByRelevancy.length > 0 "><button class="btn" [class.btn-primary]="!displayMostRecent" (click)="toggleDisplayTab()">Most relevant first</button></li>
</ul>

<div style="height:500px;overflow: auto" class="container" [class.noDisplay]="!displayMostRecent" *ngIf="reportsSortedByDate.length > 0">
    <div *ngFor="let report of reportsSortedByDate">
        <div class="row" style="border-bottom: 1px solid lightgray">

            <div class="col-md-11">
                <a href="{{report.url}}" (click)="goToLink(report.url)">
                    <span class="global-subheading-3 global-font global-color-light-black">{{report.title}}</span>
                    <br>
                    <br>
                    <span class="global-subheading-3 global-font global-color-light-black" style="font-size: 15px">{{ report.snippet }}</span>
                </a>
                <h5>Source: {{report.source}}</h5>
            </div>
            <div class="col-md-1 pull-right">
                <button *ngIf="!report.userUpVoted" (click)="onUserLike(report._id)" type="button" class="btn btn-default btn-lg borderless" aria-label="Left Align">
                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                </button>
                <button *ngIf="report.userUpVoted" (click)="onUserLike(report._id)" type="button" class="btn btn-default btn-lg borderless" aria-label="Left Align">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<div style="height:500px;overflow: auto" class="container" [class.noDisplay]="displayMostRecent" *ngIf="reportsSortedByRelevancy.length > 0">
    <div *ngFor="let report of reportsSortedByRelevancy">
        <div class="row" style="border-bottom: 1px solid lightgray">

            <div class="col-md-11">
                <a href="{{report.url}}" (click)="goToLink(report.url)">
                    <span class="global-subheading-3 global-font global-color-light-black">{{report.title}}</span>
                    <br>
                    <br>
                    <span class="global-subheading-3 global-font global-color-light-black" style="font-size: 15px">{{ report.snippet }}</span>
                </a>
                <h5>Source: {{report.source}}</h5>
            </div>
            <div class="col-md-1 pull-right">
                <button *ngIf="!report.userUpVoted" (click)="onUserLike(report._id)" type="button" class="btn btn-default btn-lg borderless" aria-label="Left Align">
                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                </button>
                <button *ngIf="report.userUpVoted" (click)="onUserLike(report._id)" type="button" class="btn btn-default btn-lg borderless" aria-label="Left Align">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
</div>
