<div *ngIf="theme">
    <div class="well">
        <div class="row">
            <div class="col-xs-10 text-center">
                <h3>{{theme.name}}</h3>
                <p>Created on: {{creationDate.toDateString()}}, by {{theme.creator?.name}}</p>
            </div>

            <div class="col-xs-2 text-right">
                <button class="btn btn-success">Confirm</button>
                <p>Theme confirmed by 1000 users</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-2">
                <label>Theme description</label>
            </div>
            <div class="col-xs-10">
                <p>{{theme.description}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-2">
                <label>Tags</label>
            </div>
            <div class="col-xs-10">
                <p>{{theme.tags}}</p>
            </div>
        </div>
    </div>


    <!-- Theme time horizon, maturity and categories -->
    <div class="row">
        <div class="col-xs-10">
           <label>Theme characteristics</label>
        </div>
        <div class="col-xs-2 text-right">
            <button type="button" class="borderless no-decoration-element" (click)="toggleEditMode()">
                <span class="label" [class.label-primary]="!isEditMode" [class.label-danger]="isEditMode">{{isEditMode ? 'Candel edit' : 'Edit'}}</span>
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            </button>
        </div>
    </div>
    <hr>

    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
        <div class="form-group row">
            <label class="col-xs-2 col-form-label">Expected time horizon</label>

            <div class="col-xs-10">
                <div class="btn-group btn-group-justified" data-toggle="buttons">
                    <label class="btn btn-default" [class.inactive-element]="!isEditMode" *ngFor="let timeHorizon of themeProperties.timeHorizon; let i = index" (click)="test($event)">
                        <input type="radio" disabled="disabled" id="timeHorizon" name="timeHorizon" [value]="timeHorizonValues[i].value">{{timeHorizonValues[i].description}}
                        <!--<input name="timeHorizon" type="hidden" value="true"/>-->
                    </label>


                </div>
            </div>


            <div class="col-xs-offset-2 col-xs-10">
                <div class="btn-group btn-group-justified" data-toggle="buttons">
                    <label class="btn btn-default no-decoration-element borderless default-cursor" *ngFor="let timeHorizon of themeProperties.timeHorizon; let i = index" (click)="test($event)">
                        {{getPropertyVoteDistributionStr(timeHorizon.percentage, timeHorizon.count)}}
                    </label>
                </div>
            </div>


        </div>

        <div class="form-group row">
            <label class="col-xs-2 col-form-label">Current theme maturity</label>

            <div class="col-xs-10">
                <div class="btn-group btn-group-justified" data-toggle="buttons">
                    <label class="btn btn-default" [class.inactive-element]="!isEditMode" *ngFor="let maturity of themeProperties.maturity; let i = index">
                        <input type="radio" disabled="disabled" id="maturity" name="maturity" [value]="maturityValues[i].value" >{{maturityValues[i].description}}
                    </label>
                </div>
            </div>

            <div class="col-xs-offset-2 col-xs-10">
                <div class="btn-group btn-group-justified" data-toggle="buttons">
                    <label class="btn btn-default no-decoration-element borderless default-cursor" *ngFor="let maturity of themeProperties.maturity; let i = index" (click)="test()">
                        {{getPropertyVoteDistributionStr(maturity.percentage, maturity.count)}}
                    </label>
                </div>
            </div>


        </div>

        <div class="form-group row">
            <label class="col-xs-2 col-form-label">Theme category</label>

            <div class="col-xs-10">
                <div class="btn-group btn-group-justified" data-toggle="buttons">
                    <label class="btn btn-default" [class.inactive-element]="!isEditMode" *ngFor="let category of themeProperties.categories; let i=index">
                        <input type="checkbox" disabled="disabled" id="categories" name="categories" [value]="categoryValues[i].value">{{categoryValues[i].description}}
                    </label>
                </div>
            </div>

            <div class="col-xs-offset-2 col-xs-10">
                <div class="btn-group btn-group-justified" data-toggle="buttons">
                    <label class="btn btn-default no-decoration-element borderless default-cursor" *ngFor="let category of themeProperties.categories; let i = index" (click)="test()">
                        {{getPropertyVoteDistributionStr(category.percentage, category.count)}}
                    </label>
                </div>
            </div>

        </div>

        <div *ngIf="isEditMode" class="text-right">
            <button class="btn btn-primary" type="submit" [disabled]="!form.form.valid">Save</button>
        </div>
    </form>


</div>

