<div class="global-background-bar-outer global-background-light-grey">
    <div class="global-background-bar-inner">
        <div class="row">
            <div>
                <h3 class="global-subheading-2 global-font global-color-light-black text-center">Theme properties</h3>
                <p class="global-label global-font-2 global-color-light-black text-center" *ngIf="themePropertiesData">Total votes: {{themePropertiesData.totalCount}}</p>
               

        <!--       <p class="global-label global-font-2 global-color-light-black text-center" *ngIf="themePropertiesData">Last vote on: {{(themePropertiesData.userInputs.updatedAt) || "Not updated"}} </p>  -->
     
            </div>
            <div class="text-right" *ngIf="!isEditMode">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle borderless no-decoration-element"
                            style="background-color: transparent;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            <span class="global-color-blue global-label global-font-2"> Provide your view </span>
                    </button>
                    <ul class="dropdown-menu global-font-2">
                        <li><a (click)="clearEditing(propertiesContainer)">Edit</a></li>
                        <li *ngIf="themePropertiesData?.userInputs" role="separator" class="divider"></li>
                        <li *ngIf="themePropertiesData?.userInputs"><a type="button" (click)="modal.show()">Delete</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div *ngIf="themePropertiesData" #propertiesContainer>
            <form (ngSubmit)="createOrUpdateThemeProperty(form)" #form="ngForm">
                <div class="form-group row">
                    <span class="global-subheading-3 global-font global-color-light-black">Expected Time Horizon</span> 

                    <div class="btn-group btn-group-justified" [attr.data-toggle]="setDataToggleAttribute()">
                        <div class="btn-group" *ngFor="let timeHorizon of themePropertiesData?.properties?.timeHorizon; let i = index">
                            <label class="btn btn-default"
                                [style.backgroundColor]="setBackgroundColor(timeHorizon?.percentage, themeProperties.timeHorizon == i)"
                                [style.border] = "setBorder(isEditMode, i)"
                                [style.border-color]="setBorderColor(isEditMode, i)"
                                [style.borderBottom]="setBottomBorder('timeHorizon', i)"
                                [class.inactive-element]="!isEditMode"
                                style="margin-bottom: 8px; margin-top:14px;"
                                (click)="themeProperties.setTimeHorizon(i)">
                                <input type="radio" disabled="disabled" id="timeHorizon" name="timeHorizon" [value]="i">
                                <span *ngIf="!isEditMode" class="global-font-2 global-color-white"> {{timeHorizon?.percentage}}% </span>
                                <span *ngIf="isEditMode" class="global-color-white"> &nbsp; </span>
                            </label>
                            <p class="global-label-2 global-font-2 text-center global-color-blue">
                                {{timeHorizonValues[i].description}}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <span class="global-subheading-3 global-font global-color-light-black">Current theme maturity</span>

                    <div class="btn-group btn-group-justified" [attr.data-toggle]="setDataToggleAttribute()">
                        <div class="btn-group" *ngFor="let maturity of themePropertiesData?.properties?.maturity; let i = index">
                            <label class="btn btn-default"
                                [style.backgroundColor]="setBackgroundColor(maturity?.percentage, themeProperties.maturity == i)"
                                [style.border] = "setBorder(isEditMode, i)"
                                [style.border-color]="setBorderColor(isEditMode, i)"
                                [style.borderBottom]="setBottomBorder('maturity', i)"
                                [class.inactive-element]="!isEditMode"
                                style="margin-bottom: 8px; margin-top:14px;"
                                (click)="themeProperties.setMaturity(i)">
                                <input type="radio" disabled="disabled" id="maturity" name="maturity" [value]="i">
                                <span *ngIf="!isEditMode" class="global-font-2 global-color-white"> {{maturity?.percentage}}% </span>
                                <span *ngIf="isEditMode" class="global-color-white"> &nbsp; </span>
                            </label>
                            <p class="global-label-2 global-font-2 text-center global-color-blue">
                                {{maturityValues[i].description}}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <span class="global-subheading-3 global-font">Theme category</span>

                    <div class="btn-group btn-group-justified" [attr.data-toggle]="setDataToggleAttribute()">
                        <div class="btn-group" *ngFor="let category of themePropertiesData?.properties?.categories; let i = index">
                            <label class="btn btn-default"
                                [style.backgroundColor]="setBackgroundColor(category?.percentage, themeProperties.categoriesValuesChecked[i] == true)"
                                [style.border] = "setBorder(isEditMode, i)"
                                [style.border-color]="setBorderColor(isEditMode, i)"
                                [style.borderBottom]="setBottomBorder('categories', i)"
                                [class.inactive-element]="!isEditMode"
                                style="margin-bottom: 8px; margin-top:14px;"
                                (click)="themeProperties.toggleCheckedCategory(i)">
                                <input type="checkbox" disabled="disabled" required id="categories" name="categories" [value]="i">
                                <span *ngIf="!isEditMode" class="global-font-2 global-color-white"> {{category?.percentage}}% </span>
                                <span *ngIf="isEditMode" class="global-color-white"> &nbsp; </span>         
                            </label>
                            <p class="global-label-2 global-font-2 text-center global-color-blue">
                                {{categoryValues[i].description}}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <span class="global-subheading-3 global-font">Geography</span>

                    <div class="btn-group btn-group-justified" [attr.data-toggle]="setDataToggleAttribute()">
                        <div class="btn-group" *ngFor="let geography of themePropertiesData?.properties?.geography; let i = index">
                            <label class="btn btn-default"
                                   [style.backgroundColor]="setBackgroundColor(geography?.percentage, themeProperties.geographyValuesChecked[i] == true)"
                                   [style.border] = "setBorder(isEditMode, i)"
                                   [style.border-color]="setBorderColor(isEditMode, i)"
                                   [style.borderBottom]="setBottomBorder('geography', i)"
                                   [class.inactive-element]="!isEditMode"
                                   style="margin-bottom: 8px; margin-top:14px;"
                                   (click)="themeProperties.toggleCheckedGeography(i)">
                                <input type="checkbox" disabled="disabled" required id="geography" name="geography" [value]="i">
                                <span *ngIf="!isEditMode" class="global-font-2 global-color-white"> {{geography?.percentage}}% </span>
                                <span *ngIf="isEditMode" class="global-color-white"> &nbsp; </span>
                            </label>
                            <p class="global-label-2 global-font-2 text-center global-color-blue">
                                {{geographyValues[i].description}}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <span class="global-subheading-3 global-font">Sectors</span>

                    <div class="btn-group btn-group-justified" [attr.data-toggle]="setDataToggleAttribute()">
                        <div class="btn-group" *ngFor="let sector of themePropertiesData?.properties?.sectors; let i = index">
                            <label class="btn btn-default"
                                   [style.backgroundColor]="setBackgroundColor(sector?.percentage, themeProperties.sectorValuesChecked[i] == true)"
                                   [style.border] = "setBorder(isEditMode, i)"
                                   [style.border-color]="setBorderColor(isEditMode, i)"
                                   [style.borderBottom]="setBottomBorder('sectors', i)"
                                   [class.inactive-element]="!isEditMode"
                                   style="margin-bottom: 8px; margin-top:14px;"
                                   (click)="themeProperties.toggleCheckedSector(i)">
                                <input type="checkbox" disabled="disabled" required id="sectors" name="sectors" [value]="i">
                                <span *ngIf="!isEditMode" class="global-font-2 global-color-white"> {{sector?.percentage}}% </span>
                                <span *ngIf="isEditMode" class="global-color-white"> &nbsp; </span>
                            </label>
                            <p class="global-label-2 global-font-2 text-center global-color-blue">
                                {{sectorValues[i].description}}
                            </p>
                        </div>
                    </div>
                </div>



            <div *ngIf="isEditMode" class="text-right">
                <button class="btn btn-default no-border-radius global-font-2" type="button" (click)="clearEditing(propertiesContainer)">Cancel</button>
                <button class="btn btn-primary no-border-radius global-font-2" type="submit"
                        [disabled]="!form.form.valid || themeProperties.hasNoUserInputs()">Save</button>
            </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete user theme input modal -->
<app-modal #modal>
    <div class="app-modal-header">
        <h5>Delete your input</h5>
    </div>
    <div class="app-modal-body">
        <p>Are you sure you want to delete your input to this theme?</p>
    </div>
    <div class="app-modal-footer">
        <button type="button" class="btn btn-default" (click)="modal.hide()">Close</button>
        <button type="button" class="btn btn-primary" (click)="deleteUserThemeInput(modal)">Delete</button>
    </div>
</app-modal>