<div class="global-background-bar-outer global-background-light-grey">
    <div class="global-background-bar-inner">
        <div class="row">
            <h3 class="global-subheading-2 global-font global-color-light-black text-center">
                Firm allocation
            </h3>
            <h5 class="global-subheading-3 global-font text-center global-color-light-black">
                last 1 day:
                <span  *ngIf="averageDailyStockChanges >= 0" style="color: rgb(39, 174, 96);">
                    +{{averageDailyStockChanges | number : '1.1-1'}}%
                </span>
                <span *ngIf="averageDailyStockChanges < 0" style="color: rgb(192, 57, 43);">
                    {{averageDailyStockChanges | number : '1.1-1'}}%
                </span>
                | last 1 month:
                <span  *ngIf="averageMonthlyStockChanges >= 0" style="color: rgb(39, 174, 96);">
                    +{{averageMonthlyStockChanges | number : '1.1-1'}}%
                </span>
                <span *ngIf="averageMonthlyStockChanges < 0" style="color: rgb(192, 57, 43);">
                    {{averageMonthlyStockChanges | number : '1.1-1'}}%
                </span>
            </h5>
        </div>
        
        <!-- Allocations -->
        <div *ngIf="stockAllocationData.length > 0">
            <div *ngFor="let allocationModel of stockAllocationData; let idx=index;">
                <div class="row">
                    <div class="col-xs-6">
                        <h5> 
                            <span class="global-subheading-3 global-color-blue-2 global-font"> {{allocationModel?.themeStockComposition?.stock?.companyName}} </span>
                            <span class="global-subheading-3 global-color-grey global-font"> {{allocationModel?.themeStockComposition?.stock?.country}} </span>
                            <span *ngIf="allocationModel?.themeStockComposition?.isValidated" class="glyphicon glyphicon-ok color-tick-validated" aria-hidden="true"></span>
                            <span *ngIf="!allocationModel?.themeStockComposition?.isValidated" class="glyphicon glyphicon-ok color-tick-invalidated"
                                aria-hidden="true"></span>
                            <div style="width: auto;border:0px;text-align: center;display: inline;" data-toggle="tooltip" data-placement="top" title="Daily stock price change percentage">
                                <span  *ngIf="allocationModel?.themeStockComposition?.stock?.dayClosePriceChangePercentage >= 0" class="global-subheading-3 global-color-grey global-font" style="color: rgb(39, 174, 96);">
                                    +{{allocationModel?.themeStockComposition?.stock?.dayClosePriceChangePercentage | number : '1.1-1'}}%
                                </span>
                                <span *ngIf="allocationModel?.themeStockComposition?.stock?.dayClosePriceChangePercentage < 0" class="global-subheading-3 global-color-grey global-font" style="color: rgb(192, 57, 43);">
                                    {{allocationModel?.themeStockComposition?.stock?.dayClosePriceChangePercentage | number : '1.1-1'}}%
                                </span>
                            </div>
                            <span class="global-subheading-3 global-color-grey global-font">
                                |
                            </span>

                            <div style="width: auto;border:0px;text-align: center;display: inline;" data-toggle="tooltip" data-placement="top" title="Monthly stock price change percentage">
                                <span  *ngIf="allocationModel?.themeStockComposition?.stock?.monthlyChangePercentage >= 0" class="global-subheading-3 global-color-grey global-font" style="color: rgb(39, 174, 96);">
                                    +{{allocationModel?.themeStockComposition?.stock?.monthlyChangePercentage | number : '1.1-1'}}%
                                </span>
                                <span *ngIf="allocationModel?.themeStockComposition?.stock?.monthlyChangePercentage < 0" class="global-subheading-3 global-color-grey global-font" style="color: rgb(192, 57, 43);">
                                    {{allocationModel?.themeStockComposition?.stock?.monthlyChangePercentage | number : '1.1-1'}}%
                                </span>
                            </div>
                        </h5>
                        <p class="global-label global-font-2 global-color-light-black">Total votes: {{allocationModel.totalCount}}</p>
                    </div>
                    <div class="col-xs-6 text-right vertical-padding-4" *ngIf="!allocationModel.isAllocationEditable">
                        <div class="btn-group" *ngIf="isCurrentUserAdmin">
                            <button type="button" class="btn btn-default dropdown-toggle borderless no-decoration-element" 
                                    style="background-color: transparent;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    <span class="global-color-blue global-label global-font-2"> Admin </span>
                            </button>
                            <ul class="dropdown-menu global-font-2">
                                <li><a (click)="toggleStockCompositionValidation(allocationModel)">{{allocationModel?.themeStockComposition?.isValidated ? 'Invalidate' : 'Validate'}}</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a type="button" (click)="modalStockCompositionAdmin.setData(allocationModel); modalStockCompositionAdmin.show();">Delete</a></li>
                            </ul>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle borderless no-decoration-element" 
                                    style="background-color: transparent;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                <span class="global-color-blue global-label global-font-2"> Rate Exposure </span>
                            </button>
                            <ul class="dropdown-menu global-font-2">
                                <li><a (click)="toggleStockAllocationEditable(allocationModel)">{{allocationModel.userStockAllocation ? 'Edit' : 'Add'}}</a></li>
                                <li *ngIf="allocationModel.userStockAllocation" role="separator" class="divider"></li>
                                <li *ngIf="allocationModel.userStockAllocation"><a type="button" (click)="modal.setData(allocationModel.userStockAllocation._id);modal.show();">Delete</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div #exposuresContainer>
                    <form #form="ngForm" (ngSubmit)="createOrUpdateStockAllocation(allocationModel)">

                        <div class="row">
                            <div class="btn-group btn-group-justified" [attr.data-toggle]="setDataToggleAttribute(allocationModel.isAllocationEditable)">
                                <div class="btn-group" *ngFor="let exposure of exposures; let exposureIdx=index">
                                    <label class="btn btn-default" 
                                        [style.backgroundColor]="setExposureBackgroundColor(allocationModel.isAllocationEditable, exposureIdx, allocationModel.exposures[exposureIdx].percentage)"
                                        [style.border] = "setBorder(allocationModel.isAllocationEditable, exposureIdx)"
                                        [style.border-color]="setBorderColor(allocationModel.isAllocationEditable, exposureIdx)"
                                        [style.borderBottom]="setBottomBorder(allocationModel, exposureIdx)" 
                                        [class.inactive-element]="!allocationModel.isAllocationEditable"
                                        style="margin-bottom: 8px;"
                                        (click)="selectExposure(exposureSelect.value)">
                                        <input type="radio" disabled="disabled" #exposureSelect required [value]="exposureIdx">
                                           <span *ngIf="!allocationModel.isAllocationEditable" class="global-font-2 global-color-white"> {{allocationModel.exposures[exposureIdx].percentage}}% </span>
                                           <span *ngIf="allocationModel.isAllocationEditable" class="global-color-white"> &nbsp; </span>
                                    </label>
                                    <p class="global-label-2 global-font-2 text-center" 
                                        [style.color]="setLabelColor(exposureIdx)">
                                        {{exposures[exposureIdx]}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row text-right" *ngIf="allocationModel.isAllocationEditable">
                            <button class="btn btn-default no-border-radius global-font-2" type="button" (click)="clearEditing(allocationModel, exposuresContainer)">Cancel</button>
                            <button class="btn btn-primary no-border-radius global-font-2" type="submit" [disabled]="!form.form.valid || !selectedExposure">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- New Allocations -->
<br>
<div class="row text-center" *ngIf="!showAddOtherStocksButton">
    <button class="btn btn-md btn-primary no-border-radius global-font-2" (click)="toggleShowAddOtherStocksButton()">Add Firms</button>
</div>

<div *ngIf="showAddOtherStocksButton">
    <div class="global-background-bar-outer global-background-light-grey">
        <div class="global-background-bar-inner">
            <form #stockForm="ngForm" (ngSubmit)="createStockCompositionAndAllocation(themeStockAllocation.selectedItems)">
                <app-autocomplete-stock-allocation [preFilterStockIds]="allocatedStockIds" #themeStockAllocation></app-autocomplete-stock-allocation>

                <div class="text-right">
                    <button class="btn btn-default no-border-radius global-font-2" type="button" (click)="toggleShowAddOtherStocksButton()">Cancel</button>
                    <button class="btn btn-primary no-border-radius global-font-2" type="submit" formnovalidate [disabled]="!stockForm.form.valid || !themeStockAllocation.selectedItems || themeStockAllocation.selectedItems.length == 0">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Delete user theme input modal -->
<app-modal #modal>
    <div class="app-modal-header">
        <h5>Delete your input</h5>
    </div>
    <div class="app-modal-body">
        <p>Are you sure you want to delete your input to this stock allocation?</p>
    </div>
    <div class="app-modal-footer">
        <button type="button" class="btn btn-default" (click)="modal.hide()">Close</button>
        <button type="button" class="btn btn-primary" (click)="deleteUserStockAllocation(modal)">Delete</button>
    </div>
</app-modal>

<!-- Delete stockAllocation -->
<app-modal #modalStockCompositionAdmin>
    <div class="app-modal-header">
        <h5>Delete Firm Allocation</h5>
    </div>
    <div class="app-modal-body">
        <p>Are you sure you want to delete all votes to this stock allocation?</p>
    </div>
    <div class="app-modal-footer">
        <button type="button" class="btn btn-default" (click)="modalStockCompositionAdmin.hide()">Close</button>
        <button type="button" class="btn btn-primary" (click)="deleteUserStockCompositionAdmin(modalStockCompositionAdmin)">Delete</button>
    </div>
</app-modal>