<div *ngIf="theme">
    <div class="well">
        <div class="row">
            <div class="col-xs-10 text-center">
                <h3>{{theme.name}}</h3>
                <p>Created on: {{creationDate.toDateString()}}, by {{theme.creator?.name}}</p>
            </div>

            <div class="col-xs-2 text-right">
                <button class="btn btn-success">Confirm</button>
                <p>Theme confirmed by 1000 users</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-2">
                <label>Theme description</label>
            </div>
            <div class="col-xs-10">
                <p>{{theme.description}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-2">
                <label>Tags</label>
            </div>
            <div class="col-xs-10">
                <p>{{theme.tags}}</p>
            </div>
        </div>
    </div>


    <!-- Theme time horizon, maturity and categories -->
    <fieldset class="form-group">
        <legend>Theme characteristics
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        </legend>
    </fieldset>

    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
        <div class="form-group row">
            <label class="col-xs-2 col-form-label">Expected time horizon</label>

            <div class="col-xs-10">
                <div class="btn-group btn-group-justified" data-toggle="buttons">
                    <label class="btn btn-default" *ngFor="let timeHorizon of timeHorizonValues" (click)="test()">
                        <input type="radio" disabled="disabled" id="timeHorizon" name="timeHorizon" [value]="timeHorizon.value">{{timeHorizon.description}}
                        <!--<input name="timeHorizon" type="hidden" value="true"/>-->
                    </label>


                </div>
            </div>


            <div class="col-xs-offset-2 col-xs-10">
                <div class="btn-group btn-group-justified" data-toggle="buttons">
                    <label class="btn btn-default justified-label-group" *ngFor="let timeHorizon of timeHorizonValues" (click)="test()">
                        25% (56 users)
                    </label>
                </div>
            </div>


        </div>

        <div class="form-group row">
            <label class="col-xs-2 col-form-label">Current theme maturity</label>

            <div class="col-xs-10">
                <div class="btn-group btn-group-justified" data-toggle="buttons">
                    <label class="btn btn-default" *ngFor="let maturity of maturityValues">
                        <input type="radio" disabled="disabled" id="maturity" name="maturity" [value]="maturity.value" >{{maturity.description}}
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-xs-2 col-form-label">Theme category</label>

            <div class="col-xs-10">
                <div class="btn-group btn-group-justified" data-toggle="buttons">
                    <label class="btn btn-default" *ngFor="let category of categoryValues">
                        <input type="checkbox" disabled="disabled" id="categories" name="categories" [value]="category.value">{{category.description}}
                    </label>
                </div>
            </div>
        </div>

        <div class="text-right">
            <button class="btn btn-primary" type="submit" [disabled]="!form.form.valid">Save</button>
        </div>
    </form>


</div>

