/.idea/
.idea/workspace.xml
/db/
*.env
.vscode/*

/node_modules/
/public/bower_components/
npm-debug.log*
client/*.js
client/*.js.map

us_stocks.json
bin/*bundle.js

!systemjs.config.js
!typings/typings.d.ts
!wallaby.js
