<div class="well">
    <fieldset class="form-group">
        <legend>Create new Theme</legend>
    </fieldset>

    <form (ngSubmit)="onSubmit(form, themeTags, themeStockAllocation)" #form="ngForm">
        <div class="form-group row">
            <label class="col-xs-2 col-form-label" for="themeName">Theme name</label>
            <div class="col-xs-10">
                <input
                        type="tex"
                        placeholder="Investment theme"
                        id="themeName"
                        class="form-control"
                        [ngModel]="themeCreation?.theme?.name"
                        (ngModelChange)="themeCreation.theme.name=$event"
                        name="themeName"
                        #themeName="ngModel"
                        >
            </div>
        </div>

        <app-autocomplete-tags #themeTags></app-autocomplete-tags>

        <div class="form-group row">
            <label class="col-xs-2 col-form-label" for="description">Description</label>
            <div class="col-xs-10">
                <textarea
                        id="description"
                        placeholder="Please enter a description (min 140 characters, maximum 500 characters)"
                        class="form-control"
                        [ngModel]="themeCreation?.theme?.description"
                        (ngModelChange)="themeCreation.theme.description=$event"
                        name="description"
                        #description="ngModel"
                        rows="7"></textarea>
        </div>
        </div>

        <div class="form-group row">
            <label class="col-xs-2 col-form-label">Expected time horizon</label>

            <div class="col-xs-10">
                <div class="btn-group btn-group-justified" data-toggle="buttons">
                    <label class="btn btn-default" *ngFor="let timeHorizon of themeCreation?.themeProperties?.timeHorizonValues" (click)="themeCreation?.themeProperties?.setTimeHorizon(timeHorizon.value)">
                        <input type="radio" id="timeHorizon" name="timeHorizon" [value]="timeHorizon.value">{{timeHorizon.description}}
                    </label>
                </div>
            </div>
        </div>


        <div class="form-group row">
            <label class="col-xs-2 col-form-label">Current theme maturity</label>

            <div class="col-xs-10">
                <div class="btn-group btn-group-justified" data-toggle="buttons">
                    <label class="btn btn-default" *ngFor="let maturity of themeCreation?.themeProperties?.maturityValues" (click)="themeCreation?.themeProperties?.setMaturity(maturity.value)">
                        <input type="radio" id="maturity" name="maturity" [value]="maturity.value" >{{maturity.description}}
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-xs-2 col-form-label">Theme category</label>

            <div class="col-xs-10">
                <div class="btn-group btn-group-justified" data-toggle="buttons">
                    <label class="btn btn-default" *ngFor="let category of themeCreation?.themeProperties?.categoryValues" (click)="themeCreation?.themeProperties?.toggleCheckedCategory(category.value)">
                        <input type="checkbox" id="categories" name="categories" [value]="category.value">{{category.description}}
                    </label>
                </div>
            </div>
        </div>


        <!-- Stock Allocation -->
        <fieldset class="form-group">
            <legend>Stock Allocation</legend>
        </fieldset>

        <app-autocomplete-stock-allocation #themeStockAllocation></app-autocomplete-stock-allocation>

        <div class="text-right">
            <button class="btn btn-primary" type="submit" [disabled]="!form.form.valid">Save</button>
        </div>

    </form>
    {{themeCreation?.theme | json}}
    <!--{{themeCreation?.themeProperties | json}}-->
    {{themeCreation?.stockAllocation | json}}
</div>

