<div>
    <div class="text-center">
        <div class="Theme-Details-Heading">Create new theme</div>
    </div>
    <br/>

    <form (ngSubmit)="onSubmit(form, themeTags, themeStockAllocation)" #form="ngForm">
        <div class="form-group row">
            <label class="col-xs-2 col-form-label" for="themeName">Theme name</label>
            <div class="col-xs-10">
                <input
                        type="text"
                        placeholder="Investment theme"
                        id="themeName"
                        class="form-control"
                        [(ngModel)]="theme.name"
                        name="themeName"
                        #themeName="ngModel"
                        required
                        minlength="4"
                        maxlength="32"
                        >
                <div *ngIf="themeName.dirty && !themeName.valid" class="data-validation-message">
                    Theme name is required and between 4 to 34 characters
                </div>
            </div>
        </div>

        <app-autocomplete-tags #themeTags></app-autocomplete-tags>

        <div class="form-group row">
            <label class="col-xs-2 col-form-label" for="description">Description</label>
            <div class="col-xs-10">
                <textarea
                        id="description"
                        placeholder="Please enter a description (min 4 characters, maximum 500 characters)"
                        class="form-control"
                        [(ngModel)]="theme.description"
                        name="description"
                        #description="ngModel"
                        rows="7"
                        required
                        minlength="4"
                        [maxlength]="maxDescriptionLength"></textarea>
                <p>{{getDescriptionCharactersRemaining()}}</p>
                <div *ngIf="description.dirty && !description.valid" class="data-validation-message">
                    Description is required and between 4 to 500 characters
                </div>
        </div>
        </div>

        <div class="form-group row">
            <label class="col-xs-2 col-form-label">Expected time horizon</label>

            <div class="col-xs-10">
                <div class="btn-group btn-group-justified" data-toggle="buttons">
                    <label class="btn btn-default" *ngFor="let timeHorizon of timeHorizonValues" (click)="themeProperties.setTimeHorizon(timeHorizon.value)">
                        <input type="radio" id="timeHorizon" name="timeHorizon" [value]="timeHorizon.value">{{timeHorizon.description}}
                    </label>
                </div>
            </div>
        </div>


        <div class="form-group row">
            <label class="col-xs-2 col-form-label">Current theme maturity</label>

            <div class="col-xs-10">
                <div class="btn-group btn-group-justified" data-toggle="buttons">
                    <label class="btn btn-default" *ngFor="let maturity of maturityValues" (click)="themeProperties.setMaturity(maturity.value)">
                        <input type="radio" id="maturity" name="maturity" [value]="maturity.value" >{{maturity.description}}
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-xs-2 col-form-label">Theme category</label>

            <div class="col-xs-10">
                <div class="btn-group btn-group-justified" data-toggle="buttons">
                    <label class="btn btn-default" *ngFor="let category of categoryValues" (click)="themeProperties.toggleCheckedCategory(category.value)">
                        <input type="checkbox" id="categories" name="categories" [value]="category.value">{{category.description}}
                    </label>
                </div>
            </div>
        </div>

        <!-- Stock Allocation -->
        <fieldset class="form-group">
            <legend>Stock Allocation</legend>
        </fieldset>

        <app-autocomplete-stock-allocation #themeStockAllocation></app-autocomplete-stock-allocation>

        <div class="text-right">
            <a routerLinkActive="active" [routerLink]="['/search']" class="btn btn-default no-border-radius" role="button">Cancel</a>
            <button class="btn btn-primary no-border-radius" type="submit" formnovalidate
                    [disabled]="!form.form.valid || themeProperties.hasNoUserInputs()">Save</button>
        </div>

    </form>
    <app-error></app-error>
</div>