<html>
<head>
    <base href="/">
    <title>thematicum</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Droid+Serif" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Droid+Sans" />
    <link rel='stylesheet' href='/stylesheets/style.css'/>

<script src="https://ssl.gstatic.com/trends_nrtr/1480_RC02/embed_loader.js"></script>
    
</head>
<body>
<my-app></my-app>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://www.google.com/recaptcha/api.js" ></script>
<script src="/js/app/bundle.js" defer></script>

</body>
</html>
