<html>
<head>
    <base href="/">
    <title>thematicum</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<my-app>Loading...</my-app>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Taimoor Alam Introduce Captcha here-->
 
<script src="/js/app/bundle.js"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>
</body>
</html>
