<html>
<head>
    <base href="/">
    <title>Thematicum</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'/>

</head>
<body>
<my-app>Loading...</my-app>

<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/js/app/bundle.js"></script>

</body>
</html>
