html,
body {
  height: 100%;
}

body {
  padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
  overflow-x: hidden
}

hr {  
  margin: 0;
  margin-left: -50%;
  width:200%;
  padding: 0;
}

.content {
  min-height: 80%;
}

.thematicum-navbar{
  cursor: pointer; cursor: hand; 
}

.thematicum-navbar ul.nav a, .thematicum-navbar ul.nav a:hover, .thematicum-navbar ul.nav a:active, .thematicum-navbar ul.nav a:focus{ 
  background-color: inherit;
}

.thematicum-navbar-color {
  background-color: #2980b9;
  border-color: #2980b9;
}

.thematicum-navbar-color-homepage {
  background-color: #ffffff;
  border-color: #ffffff;
}

.thematicum-navbar-nav-text-dropdown {
  font-family: DroidSans;
  font-size: 16px;
  color: #2980b9;
}

.thematicum-navbar-nav-text {
  font-family: DroidSans;
  font-size: 16px;
  color: #ffffff;
}

.thematicum-navbar-nav-text:hover, .thematicum-navbar-nav-text:visited, 
.thematicum-navbar-nav-text:link, .thematicum-navbar-nav-text:active {
  color: #ffffff;
  text-decoration: none;
}

.thematicum-navbar-nav-text-homepage {
  font-family: DroidSans;
  font-size: 16px;
  color: #2980b9;
}

.thematicum-navbar-nav-text-homepage:hover, .thematicum-navbar-nav-text-homepage:visited, 
.thematicum-navbar-nav-text-homepage:link, .thematicum-navbar-nav-text-homepage:active {
  color: #2980b9;
  text-decoration: none;
}

.thematicum-navbar-thematicum {
  width: 674px;
  font-family: DroidSerif;
  font-size: 30px;
  line-height: 47px;
  text-align: center;
  color: #ffffff;
}

.thematicum-navbar-thematicum:hover, .thematicum-navbar-thematicum:visited, 
.thematicum-navbar-thematicum:link, .thematicum-navbar-thematicum:active {
  color: #ffffff;
  text-decoration: none;
}

@media (min-width: 768px) {
  .navbar .navbar-header {
      float: none;
      margin-left:13%;
  }

  .navbar .navbar-collapse {
      text-align: center;
  }
}
/* Footer Styles */

footer {
  margin: 50px 0;
}

/* Custom styles */

.data-validation-message {
  padding-top: 30px;
  color: red;
  font-size: small;
}

.error-message {
  padding-top: 30px;
  color: red;
  font-size: medium;
}

.error-red-front {
  color: red;
}

.borderless {
  border: 0 none;
}

/* for autocomplete */
.input-list {
  width:100%;
  float: left;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.badge-theme {
  background-color: #2980b9;
  margin: 1px;
}

.button-list {
  float:left;
  height: 34px;
  width: 5%;
}

.button-list i {
  margin-top: -5px;
}

.group-list {
  max-height: 411px;
  overflow: auto;
  float: left;
  width: 100%;
  border-bottom: 1px solid #ddd;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.item-list {
  cursor: pointer;
}

.item-list:hover {
  background: #f5f5f5;
}

.item-list:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-tag {
  border-radius: 16px;
  margin: 5px 5px 5px 0px;
}

textarea {
  resize: none;
}

.text-center {
    text-align: center;
}

/*Overriding bootstrap class to add width:100%. 
Angular2 Multi Select dropdowns uses bootstrap.
Without the width property the dropdowns do not extend to full width when enableSearch is false.
Remove if a better way is found to achieve this.*/
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  width: 100%;
}

.full-width{
    width: 100%;
}

.search-icon {
  color: #2980b9;
  font-size: 18px;
  margin-right:20px;
}

.no-border-radius {
  border-radius: 0;
}

.no-margin {
  margin:0;
}

.no-decoration, .no-decoration:hover{
  color: #000000;
  text-decoration: none;
}

/*Stylesheet for Landing Page*/
.outer {
    display: table;
    position: absolute;
    height: 80%;
    width: 75%;
}

.inner {
    display: table-cell;
    vertical-align: middle;
}

.landing-banner {
  font-family: 'Droid Serif';
  text-align: center;
  width: 100%;
}

.landing-banner .banner-font {
    font-size: 54px;
}

.landing-banner .banner-font + .banner-font-detail{
    font-size: 21px;
    color: #34495e;
}
/*End Stylesheet for Landing Page*/

.global-back-button {
  font-size: 16px;
  line-height: 56px;
  cursor: pointer; cursor: hand;
}

.color-tick-validated {
  color: #2980b9;
}
.color-tick-invalidated {
  color:gainsboro;
}

.global-font {
  font-family: 'Droid Serif';
}

.global-font-2 {
  font-family: 'Droid Sans';
}

.gloabl-color-green {
  color: #27ae60;
}

.global-color-blue {
  color: #2980b9;
}

.global-color-blue-2 {
  color: #226baa;
}

.global-color-grey {
  color: #898989;
}

.global-color-sea-green {
  color: #1abc9c;
}

.global-color-purple {
  color: #9b59b6;
}

.global-color-red {
  color: #c0392b;
}

.global-color-white {
  color: #ffffff;
}

.global-color-light-black {
  color: #34495e;
}

.global-background-light-grey{
  background-color: #f3f3f3;
}

.global-background-bar-outer{
  padding-top: 4%;
  padding-bottom: 4%;
  margin-left: -100%;
  margin-right: -100%;
}

.global-background-bar-inner{
  margin-left: 33.33%;
  margin-right: 33.33%;
}

.global-no-background {
  background-color: transparent;
}

.global-heading {
  margin-top: 54px;
  margin-bottom: 32px;
  width: 100%;
  height: 59px;
  font-size: 50px;
  text-align: center;
}

.global-tags {
  width: 100%;
  height: 44px;
  font-family: 'Droid Sans';
  font-size: 14px;
  line-height: 1.38;
  text-align: center;
}

.global-paragraph-heading{
  width: 100%;
  height: auto;
  font-size: 20px;
}

.global-paragraph-subheading {
  width: 100%;
  height: 108px;
  font-family: 'Droid Serif';
  font-size: 17px;
  line-height: 1.5;
  text-align: center;
}

.global-paragraph-text {
  margin-top: 9px;
  margin-bottom: 11px;
  font-size: 16px;
  line-height: 1.5;
}

.global-paragraph-author  {
  width: 100%;
  margin-bottom: 30px;
  height: 19px;
  font-size: 14px;
}