<div class="form-group row">
    <label class="col-xs-2 col-form-label">Tags</label>
    <div class="col-xs-10">
        <p *ngIf="error" class="error-red-front">{{error}}</p>
        <app-autocomplete [placeholderTerm]="autocompletePlaceholder"
                          [allowCustomValues]="allowCustomValues"
                          [allowEnterKey]="allowEnterKey"
                          [allowDirectClick]="allowDirectClick"
                          [dataSource]="itemList"
                          [queryRequired]="true"
                          [queryMinLength]="4"
                          [queryMaxLength]="32"
                          (notifySelectedItem)='selectItem($event)'
                          (clearErrorStr)="clearErrorStr()"
                          (notifyError)="setErrorStr($event)">
        </app-autocomplete>
    </div>
</div>

<div class="form-group row col-xs-offset-2">
    <button class="btn btn-default btn-tag" *ngFor="let tag of selectedItems; let i = index" type="button" (click)="deselectItem(i)">
        {{tag}} <span class="badge">X</span>
    </button>
</div>