<app-autocomplete   [placeholderTerm]="autocompletePlaceholder"
                      [allowCustomValues]="allowCustomValues"
                      [allowEnterKey]="allowEnterKey"
                      [allowDirectClick]="allowDirectClick"
                      [dataSource]="itemList"
                      (notifySelectedItem)='selectItem($event)'
                      (clearErrorStr)="clearErrorStr()"
                      id="stocksAutocomplete"
                      #stocksAutocomplete
                      class="global-font-2"
                      >
</app-autocomplete>