<div class="newsfeeddiv global-font-2" *ngIf="newsfeed != null">
    <span>
        <span class="thick">           
            {{newsfeed.userName}}
        </span> voted on the theme:
        <span class="thick">
            <a routerLinkActive="active" [routerLink]="['/theme/' + newsfeed.theme ]">
                {{newsfeed.themeName}}
            </a>
        </span>
    </span>
    <div class="indent" *ngIf="newsfeed.userThemeInput != null">
        <div><span>Time Horizon: {{displayTimeHorizon}}</span></div>
        <div><span>Maturity: {{displayMaturity}}</span></div>
        <div><span>Theme Category: {{displayCategories}}</span></div>
    </div>
    <div class="indent" *ngIf="newsfeed.userThemeStockAllocation != null">
        <div><span>Stock: {{newsfeed.stock}}</span></div>
        <div><span>Exposure: {{displayExposure}}</span></div>
    </div>
    <div class="indent" *ngIf="newsfeed.userThemeFundAllocation != null">
        <div><span>Fund: {{newsfeed.fund}}</span></div>
        <div><span>Exposure: {{displayExposure}}</span></div>
    </div>
    <div class="time">{{newsfeed.createdAt.toLocaleString()}}</div>
</div>

<div *ngIf="newsfeed == null">
    <p>No data available</p>
</div>