<div class="container">
    <div class="col-xs-3">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs tabs-left">
            <li class="active"><a href="#profile" data-toggle="tab">Profile</a></li>
            <li><a href="#settings" data-toggle="tab">Settings</a></li>
            <li><a href="#myThemes" data-toggle="tab">My Themes</a></li>
            <li><a href="#myThemeContributions" data-toggle="tab">My Theme Contributions</a></li>
        </ul>
    </div>

    <div class="col-xs-9">
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="home">Profile Tab [coming soon]</div>
            <div class="tab-pane" id="settings">Settings Tab [coming soon]</div>
            <div class="tab-pane" id="myThemes">My Theme Contributions Tab [coming soon]</div>
        </div>
    </div>
</div>
