<div class="container">
    <div class="col-xs-3">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs tabs-left">
            <li class="active"><a href="#profile" data-toggle="tab">My account info</a></li>
            <li><a href="#themes" data-toggle="tab">My themes</a></li>
            <li><a href="#myvotes" data-toggle="tab">My votes </a></li>
            <li><a href="#mynewsfeed" data-toggle="tab">Newsfeed</a></li>
            <li *ngIf="isUserAdmin"><a href="#myadminfeed" data-toggle="tab">Admin Data</a></li>
        </ul>
    </div>

    <div class="col-xs-9">
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="profile">
                <h2>My Info</h2>
                <br>
                <br>
                <ul  class="nobullet">
                    <li  ><span><span class="thick">Username:</span> {{username}}</span> </li>
                    <li><span><span class="thick">Email:</span> {{email}}</span></li>
                    <li><span><span class="thick">Date joined:</span> {{datejoined}}</span></li>
                </ul>
            </div>
            <div class="tab-pane" id="themes">
                <h2>My Themes</h2> <br> <br>
                <app-user-themes-followed> </app-user-themes-followed>
            </div>
            <div class="tab-pane" id="myvotes">
                <h2>My Votes</h2>
                <br>
                <app-user-my-votes> </app-user-my-votes>                
            </div>
            <div class="tab-pane" id="mynewsfeed">
                <h2>Newsfeed</h2>
                <br>
                <app-user-newsfeed> </app-user-newsfeed>
            </div>
            <div *ngIf="isUserAdmin" class="tab-pane" id="myadminfeed">
                <h2>Admin: All Newsfeed</h2>
                <br>
                <div>
                    <form>
                        <label>From:</label>
                        <input id="datefrom" #from type="date" max="2020-12-31" min="1990-12-31" value={{defaultFromDateString}}/>
                        <label>To:</label>
                        <input id="dateto" #to type="date" max="2020-12-31" min="1990-12-31" value={{defaultToDateString}}/>
                        <input type="button" (click)="getAdminFeedWithDates()" value="Go"/>
                    </form></div>
                <p id="paratocopy">{{newsFeedByAdminString}}</p>                
            </div>
        </div>
    </div>
</div>
