<div class="container">
    <div class="col-xs-3">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs tabs-left">
            <li class="active"><a href="#profile" data-toggle="tab">My account info</a></li>
            <li><a href="#settings" data-toggle="tab">My themes</a></li>
            <li><a href="#myvotes" data-toggle="tab">My votes </a></li>
            <li><a href="#mynewsfeed" data-toggle="tab">Newsfeed</a></li>
            <li *ngIf="isUserAdmin"><a href="#myadminfeed" data-toggle="tab">Admin Data</a></li>
        </ul>
    </div>

    <div class="col-xs-9">
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="home">Profile Tab [coming soon]</div>
            <div class="tab-pane" id="settings">
                <h2>My Themes</h2>
                <ul id="themelist" class="nobullet">
                    <li  *ngFor="let theme of themes">
                        <div class="row themeclass"><span class="themename">{{theme.name}}</span><span class="followcomponent pull-right"><app-follow #followButton [theme]="theme"></app-follow></span></div>
                    </li>
                </ul>
            </div>
            <div class="tab-pane" id="myvotes">
                <h2>My Votes</h2>
                <ul class="nobullet">
                    <li *ngFor="let newsfeed of newsFeedByUserData">
                        <app-user-newsfeed [newsfeed]="newsfeed"></app-user-newsfeed>
                    </li>
                </ul>
                
            </div>
            <div class="tab-pane" id="mynewsfeed">
                <h2>Newsfeed</h2>
                <ul class="nobullet">
                    <li *ngFor="let newsfeed of newsFeedByUsersThemesData">
                        <app-user-newsfeed  [newsfeed]="newsfeed"></app-user-newsfeed>
                    </li>
                </ul>
                
            </div>
            <div *ngIf="isUserAdmin" class="tab-pane" id="myadminfeed">
                <h2>Admin: All Newsfeed</h2>
                <p id="paratocopy">{{newsFeedByAdminString}}</p>
                <!--<ul class="nobullet">
                    <li *ngFor="let newsfeed of newsFeedByAdminData">
                        <app-user-newsfeed  [newsfeed]="newsfeed"></app-user-newsfeed>
                    </li>
                </ul>-->
                
            </div>
        </div>
    </div>
</div>
