<nav class="navbar navbar-fixed-top" [ngClass]="{'thematicum-navbar-color': homePage==false}" [ngClass]="{'thematicum-navbar-color-homepage': homePage==true}"
    role="navigation">
    <div class="container">

        <div class="thematicum-navbar collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="navbar-header">

                <div class="brand global-font" >
                <a *ngIf="isLoggedIn()" class="thematicum-navbar-thematicum" routerLinkActive="active" [routerLink]="['/search']"><strong>them</strong>aticum</a>
                <a *ngIf="!isLoggedIn()" class="thematicum-navbar-thematicum" routerLinkActive="active" [routerLink]="['/home']"><strong>them</strong>aticum</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a [ngClass]="{'thematicum-navbar-nav-text': homePage==false}" [ngClass]="{'thematicum-navbar-nav-text-homepage': homePage==true}"
                           class="global-font-2" routerLinkActive="active" [routerLink]="['/signup']" *ngIf="!isLoggedIn()">Sign Up</a>
                    </li>
                    <li>
                        <a [ngClass]="{'thematicum-navbar-nav-text': homePage==false}" [ngClass]="{'thematicum-navbar-nav-text-homepage': homePage==true}"
                            class="global-font-2" routerLinkActive="active" [routerLink]="['/signin']" *ngIf="!isLoggedIn()">Login</a>
                    </li>

                    <li class="dropdown" *ngIf="isLoggedIn()">

                        <a [ngClass]="{'thematicum-navbar-nav-text': homePage==false}" [ngClass]="{'thematicum-navbar-nav-text-homepage': homePage==true}"
                            class="dropdown-toggle global-font-2" data-toggle="dropdown">{{getLoggedInUser()}}<b class="caret"></b></a>

                        <ul class="dropdown-menu">
                            <li><a class="thematicum-navbar-nav-text-dropdown global-font-2" routerLinkActive="active" [routerLink]="['/profile']">Profile</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a class="thematicum-navbar-nav-text-dropdown global-font-2" (click)="onLogoutClick()">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>

    </div>
</nav>