<div class="col-xs-12 text-center">
 <div ><img class="clip-1" src="http://www.freeiconspng.com/uploads/compass-icon-5.png" /></div>
</div>

<div class="col-xs-12">
 <div class="Theme-Explorer">Theme Explorer</div>
</div>
<div>   
    <br/>
    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
        <div class="form-group row">
            <div class="col-xs-8 col-xs-offset-2">
                <input type="text" id="searchTerm" class="form-control" [(ngModel)]="searchTerm" name="searchTerm" #name="ngModel">
            </div>
        </div>
        <div class="col-xs-12"> <br/> </div>
        <div class="form-group row">
            <span class="col-xs-3">
                <ss-multiselect-dropdown name="categories" [options]="categoryOptions" [texts]="categoryTextOptions" [settings]="noSearchDropdownSettings" [(ngModel)]="categoryOptionsModel"></ss-multiselect-dropdown>
            </span>
            <span class="col-xs-3">
                <ss-multiselect-dropdown name="timeHorizon" [options]="timeHorizonOptions" [texts]="timeHorizonTextOptions" [settings]="noSearchDropdownSettings" [(ngModel)]="timeHorizonOptionsModel"></ss-multiselect-dropdown>
            </span>
            <span class="col-xs-3">
                <ss-multiselect-dropdown name="maturity" [options]="maturityOptions" [texts]="maturityTextOptions" [settings]="noSearchDropdownSettings" [(ngModel)]="maturityOptionsModel"></ss-multiselect-dropdown>
            </span>
            <span class="col-xs-3">
                <ss-multiselect-dropdown  name="tags" [options]="tagOptions" [texts]="tagTextOptions" [settings]="searchDropdownSettings" [(ngModel)]="tagOptionsModel"></ss-multiselect-dropdown>
            </span>
        </div>
        <div class="col-xs-12"> <br/> </div>
        <div class="form-group row">
            <div class="text-center">
                <button class="btn btn-md btn-primary" type="submit">{{searchTerm.length == 0 ? "Explore Themes" : "Search"}}</button>
                <a routerLinkActive="active" class="btn btn-md btn-primary" [routerLink]="['/theme/create']">Add New</a>
            </div>
        </div>

    </form>
    <app-error></app-error>

</div>

<div class="col-xs-12"> <br/> </div>
<div class="col-xs-12">
    <div class="alert alert-info text-center" role="alert" *ngIf="form.submitted && themes.length == 0">No relevant themes found</div>

    <div class="list-group" *ngIf="themes.length>0">
        <div class="Theme-Explorer-Separator"> </div>
        <a class="list-group-item list-group-item-action borderless" *ngFor="let theme of themes" (click)="goToThemeDetails(theme._id)">
            <div class="Theme-Explorer-Heading">{{theme.name}}</div>
            <div class="Theme-Explorer-Text">{{theme.description}}</div>
            <p class="Theme-Explorer-Tags" *ngIf="theme.tags"><i>Tags: {{theme.tags}}</i></p>
            <div class="Theme-Explorer-Separator"> </div>
        </a>
    </div>
</div>
<br/><br/>


<div class="col-xs-12" style="text-align: center;">
    <app-pagination #searchPagePagination [totalResults]="searchResultsCount" [initialPage]="initialPage" (navigate)="navigatePage($event)"> </app-pagination>
</div>