<div class="well">
    <h3 class="text-center">Theme Search</h3>

    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
        <div class="form-group row">
            <div class="col-xs-8 col-xs-offset-2">
                <input
                        type="text"
                        id="searchTerm"
                        class="form-control"
                        [(ngModel)]="searchTerm"
                        name="searchTerm"
                        #name="ngModel">
            </div>
        </div>

        <div class="form-group row">
            <div class="text-center">
                <button class="btn btn-primary" type="submit">{{searchTerm.length == 0 ? "Explore Themes" : "Search"}}</button>
                <a routerLinkActive="active" class="btn btn-primary" [routerLink]="['/theme/create']">Add New</a>
            </div>
        </div>

    </form>
    <app-error></app-error>
</div>

<div class="alert alert-info text-center" role="alert" *ngIf="form.submitted && themes.length == 0">No relevant themes found</div>

<div class="list-group" *ngIf="themes.length>0">
    <a class="list-group-item list-group-item-action borderless" *ngFor="let theme of themes" (click)="goToThemeDetails(theme._id)">
        <h5 class="list-group-item-heading">{{theme.name}}</h5>
        <p class="list-group-item-text">{{theme.description}}</p>
    </a>
</div>