<div>
    <div class="row global-back-button global-font-2 global-color-blue-2">
            <span routerLinkActive="active" [routerLink]="['/home']"> Home </span>
            <span routerLinkActive="inactive"> > Theme Explorer </span>
            <hr/>
    </div>
    <div class="row">
        <div class="global-heading global-font">Theme Explorer</div>
    </div>
    <div>
        <form (ngSubmit)="onSubmit(form)" #form="ngForm">
            <div class="form-group row">
                <div class="col-xs-offset-4 col-xs-2">
                    <button (click)="changeActiveSearchType(1)" [class.btn-primary]="activeSearchType==1" [class.btn-secondary]="activeSearchType!=1"
                    type="button" class="btn btn-block no-margin no-border-radius global-font-2">by keyword</button>
                </div>
                <div class="col-xs-2">
                    <button (click)="changeActiveSearchType(2)" [class.btn-primary]="activeSearchType==2" [class.btn-secondary]="activeSearchType!=2"
                    type="button" class="btn btn-block btn-secondary no-margin no-border-radius global-font-2">by stock</button>
                </div>
            </div>
            <div class="col-xs-12"> <br/> </div>
            <div class="form-group row" [hidden]="activeSearchType!=1">
                <div class="col-xs-12">
                    <input type="text" id="searchTerm" class="form-control input-list no-border-radius global-font-2" [(ngModel)]="searchTerm" name="searchTerm"
                        #name="ngModel" placeholder="search for themes by keyword" />
                    <i class="glyphicon glyphicon-search form-control-feedback search-icon"></i>
                </div>
            </div>
            <div class="form-group row" [hidden]="activeSearchType!=2">
                <div class="col-xs-12">
                    <app-autocomplete-stock-search (stock)="searchTermStock($event)"> </app-autocomplete-stock-search>
                    <i class="glyphicon glyphicon-search form-control-feedback search-icon"></i>
                </div>
                <div class="col-xs-12 global-paragraph-text global-font-2 global-color-light-black" *ngIf="selectedStock!==undefined">
                    <br />
                    <strong>Business Description: </strong>{{selectedStock.businessDescription}}
                </div>
            </div>
            <div class="col-xs-12"> <br/> </div>
            <div class="form-group row">
                <span class="col-xs-2 global-font-2">
                    <ss-multiselect-dropdown name="categories" [options]="categoryOptions" [texts]="categoryTextOptions" [settings]="noSearchDropdownSettings" [(ngModel)]="categoryOptionsModel"></ss-multiselect-dropdown>
                </span>
                <span class="col-xs-2 global-font-2">
                    <ss-multiselect-dropdown name="timeHorizon" [options]="timeHorizonOptions" [texts]="timeHorizonTextOptions" [settings]="noSearchDropdownSettings" [(ngModel)]="timeHorizonOptionsModel"></ss-multiselect-dropdown>
                </span>
                <span class="col-xs-2 global-font-2">
                    <ss-multiselect-dropdown name="maturity" [options]="maturityOptions" [texts]="maturityTextOptions" [settings]="noSearchDropdownSettings" [(ngModel)]="maturityOptionsModel"></ss-multiselect-dropdown>
                </span>
                <span class="col-xs-2 global-font-2">
                    <ss-multiselect-dropdown  name="geography" [options]="geographyOptions" [texts]="geographyTextOptions" [settings]="noSearchDropdownSettings" [(ngModel)]="geographyOptionsModel"></ss-multiselect-dropdown>
                </span>
                <span class="col-xs-2 global-font-2">
                    <ss-multiselect-dropdown  name="sectors" [options]="sectorOptions" [texts]="sectorTextOptions" [settings]="noSearchDropdownSettings" [(ngModel)]="sectorOptionsModel"></ss-multiselect-dropdown>
                </span>
                <span class="col-xs-2 global-font-2">
                    <ss-multiselect-dropdown  name="tags" [options]="tagOptions" [texts]="tagTextOptions" [settings]="searchDropdownSettings" [(ngModel)]="tagOptionsModel"></ss-multiselect-dropdown>
                </span>
            </div>
            <div class="col-xs-12"> <br/> </div>
            <div class="form-group row">
                <div class="col-xs-offset-4 col-xs-2">
                    <button [disabled]="activeSearchType==2 && searchTerm.length == 0" class="btn btn-block btn-md btn-primary no-border-radius global-font-2" type="submit">{{searchTerm.length == 0 ? "search" : "search "}}</button>
                </div>
                <div class="col-xs-2">
                    <a routerLinkActive="active" class="btn btn-block btn-md btn-primary no-border-radius global-font-2" [routerLink]="['/theme/create']">add theme</a>
                </div>
            </div>

        </form>
        <app-error></app-error>

    </div>

    <div class="col-xs-12"> <br/> </div>
    <div class="col-xs-12">
        <div class="alert alert-info text-center" role="alert" *ngIf="form.submitted && themes.length == 0">No relevant themes found</div>

        <div class="list-group" *ngIf="themes.length>0">
            <hr/>
            <a class="list-group-item list-group-item-action borderless" *ngFor="let theme of themes" (click)="goToThemeDetails(theme._id)">
                <div class="global-subheading-3 global-font global-color-blue">
                    {{theme.name}} &nbsp;
                    <span class="badge badge-theme" *ngFor="let timeHorizon of theme.timeHorizon; let currentIndex = index">
                        {{timeHorizonValues[theme.timeHorizon[currentIndex]].description}}
                    </span> |
                    <span class="badge badge-theme" *ngFor="let maturity of theme.maturity; let currentIndex = index">
                        {{maturityValues[theme.maturity[currentIndex]].description}}
                    </span> |
                    <span class="badge badge-theme" *ngFor="let category of theme.categories; let currentIndex = index">
                        {{categoryValues[theme.categories[currentIndex]].description}}
                    </span> |
                    <span class="badge badge-theme" *ngFor="let geography of theme.geography; let currentIndex = index">
                        {{geographyValues[theme.geography[currentIndex]].description}}
                    </span>
                    <span class="badge badge-theme" *ngFor="let sector of theme.sectors; let currentIndex = index">
                        {{sectorValues[theme.sectors[currentIndex]].description}}
                    </span>
                </div>
                <div class="global-paragraph-text global-font-2 global-color-light-black">{{theme.description}}</div>
                <p class="global-paragraph-author global-font-2 global-color-grey" *ngIf="theme.tags">
                    {{stringAsDate(theme.createdAt) | date:'mediumDate'}}
                </p>
                <hr/>
            </a>
        </div>
    </div>
    <br/><br/>


    <div class="col-xs-12" style="text-align: center;">
        <app-pagination #searchPagePagination [totalResults]="searchResultsCount" [initialPage]="initialPage" (navigate)="navigatePage($event)" class="global-font-2">
        </app-pagination>
    </div>
</div>